<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mouseclick_looper.Mouseclick_looper" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="mouseclick_looper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
     
    <userSettings>
        <mouseclick_looper.Mouseclick_looper>
            <setting name="Mins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Secs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sounds" serializeAs="String">
                <value>True</value>
            </setting>
        </mouseclick_looper.Mouseclick_looper>
    </userSettings>
</configuration>
